<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Aaron Dilley's blog</h1>
    <p>
      You have successfully signed up to receive
      updates from my blog.<br>
    </p>
    <p>
      Feel free to <%= link_to 'unsubscribe', @unsubscribe_url %> at any time.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>