// fonts
$font-kreon: 'Kreon', serif;

// colors
$egg-white:    #FCFEF5;
$eggplant:     #563444;
$grey-d:       #DDDDDD;
$grey-c:       #CCCCCC;
$grey-9:       #999999;
$grey-6:       #666666;
$grey-3:       #333333;
$muted-purple: #6A5E72;
$teal:         #4F8699;
$white:        #FFFFFF;

// language colors
$html-grey:          #666666;
$css-blue:           #3B5998;
$js-green:           #7AB317;
$coffeescript-brown: #E2D5C1;
$ruby-red:           #C52F24;
