<div class="bio jumbotron">
  <div class="container">
    <h1>Bio</h1>
  </div>
</div>


<div class="container-fluid">
  <div class="row img-header">
    <img src="/assets/dilley_fam_600-50.png" alt="Dilley family photo" class="img-circle img-thumbnail col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  </div>
  <div class="row">
    <article class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <p class="lead">
        I live in Seattle with my wife and golden retriever. I have been a web developer for over <%= ((Date.today - Date.new(2010, 1, 1)).to_i/365).floor %> years. I'm passionate about front end development and UX/UI design.
      </p>
      <p class="lead">
        Other than my family and web development, I love puzzles, board games, biking, paddle boarding and <a href="http://killerqueenarcade.com/" target="_blank" alt="">Killer Queen</a>. 
      </p>
    </article>
  </div>
</div>

